plotly
python-dotenv
streamlit>=1.36.0
pandas>=2.2.0
pytz>=2024.1
pypdf
PyPDF2
python-dateutil>=2.9.0
Pillow>=10.0.0
numpy
requests
httpx
tenacity
scikit-image
emoji
watchdog
plotly
altair
aiortc
markdown-it-py
loguru
httptools
opencv-python
mss
sounddevice
av
openai
anthropic
tiktoken
langchain
langchain-community
websockets
python-socketio
aiohttp
fastapi
uvicorn
python-multipart
aiofiles
pydantic
streamlit-option-menu
streamlit-extras
streamlit-autorefresh
streamlit-webrtc
streamlit-js-eval
streamlit-chat
streamlit-float
cryptography
strategies