streamlit>=1.36.0
tornado
pandas>=2.2.0
numpy
plotly
requests
python-dotenv
cryptography
MetaTrader5
pyinstaller
altair
pyarrow
watchdog
pytz>=2024.1
pypdf
PyPDF2
python-dateutil>=2.9.0
Pillow>=10.0.0
httpx
tenacity
scikit-image
emoji
markdown-it-py
loguru
httptools
opencv-python
mss
sounddevice
av
openai
anthropic
tiktoken
langchain
langchain-community
websockets
python-socketio
aiohttp
fastapi
uvicorn
python-multipart
aiofiles
pydantic
streamlit-option-menu
streamlit-extras
streamlit-autorefresh
streamlit-webrtc
streamlit-js-eval
streamlit-chat
streamlit-float
strategies
